@font-face {
  font-family: 'Bebas Neue Light';
  src: url('BebasNeue Light.otf');
  font-weight: 200;
}


html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

*{
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
  outline: none !important;
}


a {
  text-decoration: none;
  color:inherit;
}

body {
  height: 100%;
  width: 100%;
}

.panel {
  width: 100%;
  overflow: auto;
}

.head {
  width: 100%;
  height: 250px;
  background-color: #DB4F4F;
  overflow: auto;
  position: fixed;
}

.head h3 {
  color: #fff;
  margin-left: 35px;
  margin-top: 30px;
  float: left;
}

.menuButton {
  float: right;
  width: 30px;
  height: 30px;
  background-color: #E1FF06;
  border-radius: 100%;
  margin-right: 35px;
  margin-top: 30px;
}

.menuButton i {
text-align: center;
display: block;
margin-top: 6px;
color: #DB4F4F;
}

.backLayer {
width: 100%;
height: 450px;
background-color: #eee;
position: static;
}

.infoBlock {
  width: 75%;
  height: 2500px;
  position: absolute;
  left: 15%;
  top: 16%;
}

.infoTile {
  overflow: auto;
  width: 100%;
  height: 500px;
  background-color: #fff;
  box-shadow: 6px 3px 10px #888888;
}

.infoTile h1 {
  color: #B1ADAD;
  border-bottom: 1px solid #B1ADAD;
  width: 90%;
  margin: 20px auto;
  display: block;
  padding-bottom: 20px;
}

.infoTile textarea {
  width: 90%;
  height: 330px;
  resize:none;
  border: 0px;
  margin: 0 auto;
  display: block;
  color: #3d4351;
  font-size: 18px;
}

.continue {
  width: 150px;
  height: 50px;
  background-color: #DB4F4F;
  color: #fff;
  text-align: center;
  line-height: 50px;
  display: block;
  float: right;
  margin-right: 55px;
}

.emptyTile {
  width: 100%;
  height: 200px;
}

.pagination {
width: 50px;
height: 700px;
list-style-type: none;
float: right;
margin-top: 270px;
position: fixed;
margin-left: 96%;
}

.pagination li {
  width: 100%;
  height: 20px;
  float: left; 
}

.pagination li div {
  margin-top: 30px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: rgba(174, 168, 211, 0.57);
}

.activeTab {
  height: 40px !important;
}

.active {
  width: 30px !important;
  height: 30px !important;
  background-color: #eee !important;
  border: 1px solid rgba(174, 168, 211, 0.57);
  text-align: center;
  line-height: 30px !important;
  margin-left: -12px;
  color: rgba(174, 168, 211, 0.57);
}









